.demo {
  border-top: 200px solid gray;
  height: 300px;
  font-family: sans-serif;
}

.demo:hover .top-button {
  animation-name: button;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-direction: reverse;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 3s;
}

.bottom-button {
  animation-name: button;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-direction: normal;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 3s;
}

/* @keyframes grow {
    0% { font-size: 0 }
    100% { font-size: 40px }
} */
/* 
@-webkit-keyframes grow {
    0% { font-size: 0 }
    100% { font-size: 40px }
} */

@keyframes grow {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
    /* transform: translate(120px, 50%); */
  }
  100% {
    transform: scale(1);
  }
  /* 10% {
    animation-duration: 2s;
  } */
}

/* .div {
  animation: bounceIn 2s;
}

div {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
} */

.demo:hover .grows {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 2s;
    -webkit-animation-name: grow;
    -webkit-animation-duration: 3s;
}

.demo:hover .growsandstays {
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    -webkit-animation-name: grow;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}
